<div class="row">
  <div class="col-sm-12 col-md-11">
    <%= content_for :title do %>
        New Collection
    <% end %>

    <% breadcrumb :collection, @collection %>

    <%= render 'form' %>
  </div>
  <div class="col-md-1">
    <%= render 'shared/record_floating_nav' %>
  </div>
</div>