<footer class="footer">
  <div class="container-fluid">
    <div class="row-fluid">
      <p class="text-muted pull-left"><%= t('meta.footer.left') %></p>
      <p class="pull-right"><a href="#top"><%= t('meta.footer.to_top') %></a></p>
    </div>
  </div>
</footer>