<div class="panel panel-default">
  <div class="panel-heading">
    <strong><%= field_name %></strong>
  </div>
  <div class="panel-body">
    <ul>
      <% values.each do |v| %>
          <li><%= v %></li>
      <% end %>
    </ul>
  </div>
</div>