<%= content_for :title do %>
    Batch Import Help
<% end %>

<% breadcrumb :batch_import_help %>

<%= link_to t('meta.defaults.actions.new'), new_batch_batch_import_path(@batch), class: 'btn btn-default' %>

<p>Guidance for uploading XML will go here.</p>
