<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title">Results</h3>
</div>

<div class="modal-body">

  <div class="alert alert-success">
    A job to add the Items to the selected batch has been queued. You can view the status and results of this job <%= link_to 'here', batch_batch_imports_path(@batch) %>.
  </div>

</div>