<div class="row">
  <div class="col-sm-12 col-md-11">
    <%= content_for :title do %>
        New Collection Resource
    <% end %>
    <%=
      content_for :subtitle do
        @collection.display_title
      end
    %>

    <% breadcrumb :collection_resource, @collection_resource %>

    <%= render 'form' %>
  </div>
</div>