<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="text-muted pull-left">© 2016 Digital Library of Georgia</p>
      <p class="pull-right"><a href="#top">Return to Top</a></p>
    </div>
  </div>
</footer>