<% content_for :title do %>
  Facet Browse
<% end %>

<% breadcrumb :facets_browse %>

<ul class="list-group col-md-3">
  <% @facets.each do |f| %>
      <% field = f[:field] %>
      <li class="list-group-item">
        <%= link_to f[:label], facet_catalog_path(field) %>
        <span class="pull-right"><%= link_to 'CSV', facet_values_csv_catalog_path(field, format: :csv), class: 'pull-right' %></span>
      </li>
  <% end %>
</ul>