<div class="well">
  <p><strong>Admin Users</strong></p>
  <ul class="list-unstyled">
    <% @admins.each do |u| %>
        <li><%= link_to u.email, filtered_meta_batches_path(u) %></li>
    <% end %>
  </ul>
</div>