<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title">Add To Which Batch?</h3>
</div>

<div class="modal-body">
    <% if @batches.any? %>
        <ul class="list-group">
      <% @batches.each do |b| %>
          <li class="list-group-item">
            <%= form_tag(batch_batch_imports_path(b.id), { method: :post, data: { ajax_modal: 'preserve' } } ) do %>
              <%= hidden_field_tag :item_ids, @ids, { name: 'batch_import[item_ids]' } %>
              <%= submit_tag(b.name, class: 'btn btn-lg btn-link') %>
            <% end %>
          </li>
      <% end %>
        </ul>
    <% else %>
      <div class="alert alert-danger">
        You don't have any pending Batches! <%= link_to 'Go Create One!', new_batch_path, target: '_blank' %>
      </div>
    <% end %>


</div>