<div class="devise-simple-form forgot-password-form">
  <h1>Forgot your password?</h1>
  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.email_field :email, autofocus: true, help: false %>
    <%= f.primary 'Send me reset password instructions' %>
  <% end %>
  <%= render 'users/shared/links' %>
</div>

