// SASS Variables

$navbar-height: 45px;
$navbar-inverse-bg: #8B0F0F;
$navbar-inverse-link-color: #ffffff;
$logo_image: 'dlg_logo_red.png';

@import 'blacklight';
@import 'scaffolds';
@import 'blacklight_advanced_search';
@import 'blacklight_maps/default';
@import 'blacklight_gallery/default';
@import 'bootstrap-chosen/bootstrap-chosen.scss';

// Blacklight CSS Overrides

#header-navbar {

  padding: 0 15px;

  .navbar-brand {
    width: 283px;
    height: 45px;
    background: transparent image_url($logo_image) no-repeat top left;
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin-right:20px;
    margin-top:8px;
  }
}

// striping for 'more facets' views
.facet_extended_list > ul.facet-values > li:nth-of-type(odd) {
  background-color: #f9f9f9;
}

// Meta Specific CSS

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
}

.devise-simple-form {
  width: 400px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.user-login-form {
  height: 370px;
}

.forgot-password-form {
  height: 320px;
}

.invitation-accept-form {
  height: 300px;
}

.resend-unlock-form {
  height: 300px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
}

a.btn-primary {
  color: white;
}

label.required:before {
  content: "* ";
}

a.current.asc:after {
  content: " \25B4 ";
}

a.current.desc:after {
  content: " \25BE ";
}

.fancy-multiselect-container {
  width: 100%;
}

.rights-statement-icon {
  width: 200px
}

.rights-statement-link:hover {
  background: none;
}

#floating-form-navigation {
  position: fixed;
  right: 0;
  top: 15%;
  width: 12em;
  margin-top: -2.5em;
  z-index: 990;
  overflow-y: auto;
}

.form-jump-link {
  height: 30px;
  padding: 5px;
}

@media screen and (max-width: 1400px) {
  #floating-form-navigation {
    display: none !important;
  }
}