<% if document['sunspot_id_ss'] %>
  <% klass, id = document['sunspot_id_ss'].split(' ') %>
  <%= link_to('Edit', url_for(controller: klass.downcase.pluralize, action: 'edit', id: id)) if current_user.super? %>
    <br>
  <%= link_to('Meta View', url_for(controller: klass.downcase.pluralize, action: 'show', id: id)) if current_user.super? %>
    <br>
    <label for="action">
      <%= check_box_tag(:action, document['sunspot_id_ss'], false, { class: 'action'}) %>
      Action
    </label>
<% end %>