<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
<ul class="dropdown-menu">
  <%= content_tag :li, link_to(t('meta.app.search_menu.basic'), root_path) %>
  <%= content_tag :li, link_to(t('meta.app.search_menu.advanced'), blacklight_advanced_search_engine.advanced_search_path) %>
  <%= content_tag :li, link_to(t('meta.app.search_menu.map'), map_path) %>
</ul>
