<div class="modal-header">
  <button type="button" class="ajax-modal-close close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 class="modal-title">Results</h3>
</div>

<div class="modal-body">

  <div role="alert" class="alert alert-success"><%= @batch_items.count %> Batch Items added!</div>

  <%= link_to 'View Batch', batch_path(@batch), class: 'btn btl-lg btn-primary' %>

  <% unless @errors.empty? %>
  <div class="alert alert-danger">
      <p>There was an issue with <%= pluralize(@errors.length.to_i, 'record') %></p>
    <ul>
      <% @errors.each do |e| %>
        <li><%= e %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

</div>