<%= content_for :admin_area_title do %>
    XML Import Results
<% end %>

<%=
  content_for :admin_area_subtitle do
    @batch.name
  end
%>

<div class="well">
  <p>Batch Items Created:</p>
  <ul>
    <% @batch_items.each do |item| %>
      <li><%= link_to item.title, batch_batch_items_path(@batch, item) %></li>
    <% end %>
  </ul>
</div>